#background-image {
	background-image: url(/images/sunset.jpg); /* Note the slash to start, here. */
	background-size: cover; /* So it scales to cover the element. */
	color: white;
	padding: 40px;
}
