/* Only inline links inside of paragraphs. */
p a {
	color: dodgerblue;
	text-decoration: underline;
}

/* Simple hover color change on these links. */
p a:hover {
	color: deepskyblue;
}



/* Targeting links with a class. */
a.linked-area {
	background-color: dodgerblue;
	border-radius: 4px;
	color: white;
	display: flex; /* Our new friend flex! */
	margin: 40px 0;
	max-width: 800px;
	padding: 20px;
	gap: 20px; /* Between the flex children. */
	align-items: center; /* Vertically center the children. */
	transition: background-color 0.2s; /* Smooth the color change. */
}

/* Change the background on hover. */
a.linked-area:hover{
	background-color: deepskyblue;
}

/* Images inside this big link. */
a.linked-area img {
	max-width: 200px;
}



#in-page {
	scroll-margin-top: 40px; /* This keeps some space above on anchor scrolling. */
}



#hover-block {
	background-color: lightgray;
	position: relative; /* For the absolute child. */
	width: 400px;
}

#hover-block,
#hover-block div {
	border-radius: 4px;
	padding: 20px;
}

/* The child element. */
#hover-block div {
	background-color: gold;
	bottom: 0;
	left: calc(100% + 20px);
	opacity: 0; /* You can’t transition visibility, but can use opacity at the same time. */
	position: absolute;
	transition: all 1s; /* Less blinky! */
	visibility: hidden; /* Hidden by default. */
}

#hover-block:hover div {
	opacity: 1; /* For a smooth transition. */
	visibility: visible; /* Shown when hovering over the parent. */
}

#hover-block div img {
	margin-bottom: 10px;
	max-width: 300px;
}
