body {
	padding: 80px 40px 50vh; /* Nice room at the end of the page. */
	font-family: sans-serif;
}

h1 {
	font-size: 300%;
	font-weight: bold;
	margin-bottom: 40px;
}

section {
	margin-top: 80px;
}

p {
	max-width: 65ch; /* Control line length for readability. */
}

p:not(:first-of-type) {
	margin-top: 16px;
}

/* To differentiate code examples. */
code {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.2em;
	display: inline-block;
	font-family: monospace;
	font-size: 1.2em;
	padding: 0.2em 0.4em;
	white-space: pre; /* Prevents line breaks. */
}

strong {
	font-weight: bold;
}



.faded {
	opacity: 0.333;
}

/* I gave all my filled-in containers this class, so I don’t have to repeat the rules. */
.rounded-container {
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	padding: 20px;
}



#source-link {
	background-color: tomato;
	color: white;
	padding: 10px;
	position: fixed;
	right: 20px;
	top: 20px;
}
