/* This is from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');




body {
	font-family: 'IBM Plex Sans', sans-serif; /* From Google Fonts. */
	padding: 80px 40px 50vh; /* Nice room at the end of the page. */
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 40px;
}

section {
	margin-top: 80px;
}

p {
	max-width: 65ch; /* Control line length for readability. */
}

p:not(:first-of-type) {
	margin-top: 16px;
}

/* To differentiate code examples. */
code {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.2em;
	display: inline-block;
	font-family: 'IBM Plex Mono', monospace; /* Google Fonts. */
	padding: 0.2em 0.4em;
	font-size: 0.9em;
	white-space: pre; /* Prevents line breaks. */
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}



.faded {
	opacity: 0.4;
}

/* I gave all my filled-in containers this class, so I don’t have to repeat the rules. */
.rounded-container {
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	padding: 20px;
}



#source-link {
	background-color: tomato;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	padding: 0.5em 0.75em;
	position: fixed;
	right: 20px;
	top: 20px;
}
